version: '3.8'
services:
   classifiation_diabets:
       build: .
       command: bash -c "python3 src/train.py && python3 src/predict.py && python3 src/unit_tests/test_predicting.py && python3  src/unit_tests/test_training.py"
       ports:
           - 8000:8000
       image: nikitaromanoov/tobd_laba_1:latest
       environment:
          REDIS_USER: ${REDIS_USER}
          REDIS_PASSWORD: ${REDIS_PASSWORD}
          REDIS_ADDRESS: ${REDIS_ADDRESS}
          REDIS_PORT: ${REDIS_PORT}
          
